<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>howManyFingers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B5C124E1CC4899D00DF286A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B5C12621CC4899D00DF286A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B5C126D1CC4899D00DF286A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
